<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Simple AI</title>
    <!-- Favicon -->
    <link rel="icon" href="https://avatars.githubusercontent.com/u/94162591?v=4" type="image/x-icon" />
</head>


<body>
    <h1>Simple AI - Bridging the Gap with AI For Everyone</h1>
    <p>Click the button below to access the Gradio app:</p>
    <a href="/gradio">
        <button>Go to Gradio App</button>
    </a>

    <br></br>

    <body>
        <iframe src="http://127.0.0.1:5002/gradio" frameborder="0" width="1200" height="600"></iframe>
    </body>

</body>

</html>