name: Deploy to GitHub Pages

on:
  push:
    branches:
        - main
    paths:
        - 'docs/**'
  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
            python-version: '3.11'

      - name: Create and activate virtual environment
        run: |
            python -m venv venv
            source venv/bin/activate

      - name: Install dependencies
        run: |
            pip install mkdocs
            pip install mkdocs-material
            pip install mkdocstrings
            pip install mkdocs-git-revision-date-plugin
            pip install mkdocs-jupyter
            pip install ipykernel


      - name: Build MkDocs
        run: mkdocs build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
            personal_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./site
